<section id="contact">
    <div class="container">
        <h3 class="wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="0.2s">Contact</h3>
        <div class="row">
            <div class="col contact-content">
                <p class="wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="0.4s">Name: Yuan (Chris) Yao</p>
                <p class="wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="0.6s">
                    <a class="contact-link" href="tel://8145664700">
                        Phone: +1(814) 566 4700</a></p>
                <p class="wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="0.8s">Location : Los Angeles, CA</p>
                <p class="wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="1s">
                    <a class="contact-link" href="mailto:chrisyao900908@gmail.com">Email: chrisyao900908@gmail.com</a>
                </p>
            </div>
        </div>
    </div>
</section>