<section id = "footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="footer-divider"></div>
                <br>
                <p class = "footer-content text-center wow fadeIn" data-wow-duration=".8s" data-wow-delay=".2s">@2018 Xian Li. & Chris Yao.<%- '&ensp;&ensp; ' %>
                    Designed By Jack Huang.<%- '&ensp;&ensp; ' %>All Rights Reserved.</p>
            </div>
        </div>
    </div>
</section>