<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 intro-holder">
                <div class="intro-title">
                    <h3 class="wow bounceInLeft" data-wow-duration="0.6s" data-wow-delay="0.2s">I am Chris Yao.</h3>
                </div>
                <div class="intro-content">
                    <p class="wow bounceInLeft" data-wow-duration="0.6s" data-wow-delay="0.6s"> I am the CTO of OD
                        Investment INC.</p>
                    <br>
                    <p class="wow bounceInLeft" data-wow-duration="0.6s" data-wow-delay="1.2s"> Mentor junior members of
                        the team, overseeing development work efforts and quality
                        Lead development efforts for Havana, Vegas-Mailer, Assassin-Leaper, iCoCo-SMS etc.
                    </p>
                    <br>
                    <p class="wow bounceInLeft" data-wow-duration="0.6s" data-wow-delay="1.6s">
                        Work in a high-speed, agile environment to ship features in the shortest time possible
                        Contribute to comprehensive documentation that supports the development and system support
                        lifecycle.
                        Provide technical leadership at a project level</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 ide-holder">
                <div class="container">
                    <h3 class="wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="0.2s">I Can Use...</h3>
                    <br>
                    <div class="row">
                        <div class="col-md-4 wow bounce" data-wow-duration="0.6s" data-wow-delay="0.2s">
                            <div class="img-container">
                                <a href="https://www.jetbrains.com/webstorm/">
                                    <img src="/img/ide/webstorm-icon.png" alt="Chris Yao" class="img-fluid">
                                </a>

                            </div>
                        </div>
                        <div class="col-md-4 wow bounce" data-wow-duration="0.6s" data-wow-delay="0.4s">
                            <div class="img-container">
                                <a href="https://www.jetbrains.com/datagrip/">
                                    <img src="/img/ide/datagrip-icon.png" alt="Chris Yao" class="img-fluid">
                                </a>

                            </div>
                        </div>
                        <div class="col-md-4 wow bounce" data-wow-duration="0.6s" data-wow-delay="0.6s">
                            <div class="img-container">
                                <a href="https://developer.apple.com/xcode/">
                                    <img src="/img/ide/xcode-icon.png" alt="Chris Yao" class="img-fluid">
                                </a>

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3 wow bounce" data-wow-duration="0.6s" data-wow-delay="0.8s">
                            <div class="img-container">
                                <a href="https://www.eclipse.org/">
                                    <img src="/img/ide/eclipse-icon.png" alt="Chris Yao" class="img-fluid">
                                </a>

                            </div>
                        </div>
                        <div class="col-md-3 wow bounce" data-wow-duration="0.6s" data-wow-delay="1s">
                            <div class="img-container">
                                <a href="https://www.getpostman.com/">
                                    <img src="/img/ide/postman-icon.png" alt="Chris Yao" class="img-fluid">
                                </a>

                            </div>
                        </div>
                        <div class="col-md-3 wow bounce" data-wow-duration="0.6s" data-wow-delay="1.2s">
                            <div class="img-container">
                                <a href="https://zeplin.io/">
                                    <img src="/img/ide/zeplin-icon.png" alt="Chris Yao" class="img-fluid">
                                </a>

                            </div>
                        </div>
                        <div class="col-md-3 wow bounce" data-wow-duration="0.6s" data-wow-delay="1.4s">
                            <div class="img-container">
                                <a href="https://www.jetbrains.com/phpstorm/">
                                    <img src="/img/ide/phpstorm-icon.png" alt="Chris Yao" class="img-fluid">
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <a class="btn resume-btn wow fadeInUp" data-wow-duration=".6s" data-wow-delay="1.6s"
                               href="/docs/chrisyao-profile.pdf" role="button"
                               download="chrisyao-profile">
                                Download Resume
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>