<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="intro-title">
                    <h3 class="wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="0.2s">I am Chris Yao.</h3>
                </div>
                <div class="intro-content">
                    <p class="wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="0.4s"> I am the CTO of OD
                        Investment INC.</p>
                    <br>
                    <p class="wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="0.6s"> Mentor junior members of
                        the team, overseeing development work efforts and quality
                        Lead development efforts for Havana, Vegas-Mailer, Assassin-Leaper, CoCo-SMS etc.
                    </p>
                    <br>
                    <p class="wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="0.8s">
                        Work in a high-speed, agile environment to ship features in the shortest time possible
                        Contribute to comprehensive documentation that supports the development and system support
                        lifecycles
                        Work to remove any friction around software deployment to ensure iterative releases and rapid
                        deployment of updates to our users
                        Provide technical leadership at a project level</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 ide-holder">
                <div class="container">
                    <h3 class="wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="0.2s">I Can Use...</h3>
                    <br>
                    <div class="row">
                        <div class="col-md-4 wow bounce" data-wow-duration="0.6s" data-wow-delay="0.4s">
                            <div class="img-container">
                                <img src="/img/ide/webstorm-icon.png" alt="Chris Yao" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4 wow bounce" data-wow-duration="0.6s" data-wow-delay="0.4s">
                            <div class="img-container">
                                <img src="/img/ide/datagrip-icon.png" alt="Chris Yao" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4 wow bounce" data-wow-duration="0.6s" data-wow-delay="0.4s">
                            <div class="img-container">
                                <img src="/img/ide/xcode-icon.png" alt="Chris Yao" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3 wow bounce" data-wow-duration="0.6s" data-wow-delay="0.6s">
                            <div class="img-container">
                                <img src="/img/ide/eclipse-icon.png" alt="Chris Yao" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-3 wow bounce" data-wow-duration="0.6s" data-wow-delay="0.6s">
                            <div class="img-container">
                                <img src="/img/ide/postman-icon.png" alt="Chris Yao" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="img-container wow bounce" data-wow-duration="0.6s" data-wow-delay="0.6s">
                                <img src="/img/ide/zeplin-icon.png" alt="Chris Yao" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="img-container wow bounce" data-wow-duration="0.6s" data-wow-delay="0.6s">
                                <img src="/img/ide/phpstorm-icon.png" alt="Chris Yao" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <a class="btn resume-btn wow fadeInUp" data-wow-duration=".6s" data-wow-delay=".8s"
                               href="/docs/josie-resume.pdf" role="button"
                               download="josie-resume">
                                Download Resume
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>