<section id = "services">
    <div class="container">
        <h3 class="row wow fadeInLeft" data-wow-duration=".6s" data-wow-delay= "0.2s">Services</h3>
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 wow fadeInLeft" data-wow-duration=".6s" data-wow-delay= "0.4s">
                <img src="img/services-icon/service-icon2.png" alt="Chris Yao"  class="card-img-top img-fluid" >
                 <h4 class = "text-center">Web Development</h4>
                <div class="service-divider"></div>
                <h5 class = "text-center">Hands-on Project</h5>
                <h5 class = "text-center">Experience</h5>
                <div class="img-overlay-holder">
                    <img src="img/me.jpeg" alt="Chris Yao" class="img-fluid img-overlay">
                </div>

            </div>
            <div class="img-holder col-sm-12 col-md-3 col-lg-3 wow fadeInLeft" data-wow-duration=".6s" data-wow-delay= "0.2s">

                <img src="img/services-icon/service-icons.png" alt="Chris Yao" class="card-img-top img-fluid">
                <h4 class = "text-center">Database Design</h4>
                <div class="service-divider"></div>
                <h5 class = "text-center">Hands-on Project</h5>
                <h5 class = "text-center">Experience</h5>
                <div class="img-overlay-holder">
                    <img src="img/me.jpeg" alt="Chris Yao" class="img-fluid img-overlay">
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 wow fadeInRight" data-wow-duration=".6s" data-wow-delay= "0.2s">
                <img src="img/services-icon/service-icon5.png" alt="Chris Yao" class="card-img-top img-fluid">
                <h4 class = "text-center">iOS Development </h4>
                <div class="service-divider"></div>
                <h5 class = "text-center">Hands-on Project</h5>
                <h5 class = "text-center">Experience</h5>
                <div class="img-overlay-holder">
                    <img src="img/me.jpeg" alt="Chris Yao" class="img-fluid img-overlay">
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 wow fadeInRight" data-wow-duration=".6s" data-wow-delay= "0.4s">
                <img src="img/services-icon/services-icon4.png" alt="Chris Yao" class="card-img-top img-fluid">
                <h4 class = "text-center">System Architecture </h4>
                <div class="service-divider"></div>
                <h5 class = "text-center">Hands-on Project</h5>
                <h5 class = "text-center">Experience</h5>
                <div class="img-overlay-holder">
                    <img src="img/me.jpeg" alt="Chris Yao" class="img-fluid img-overlay">
                </div>
            </div>
        </div>
    </div>
</section>