<section id="services">
    <div class="container">
        <h3 class="wow fadeInLeft" data-wow-duration=".6s" data-wow-delay="0.2s">Services</h3>
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 wow fadeInLeft" data-wow-duration=".6s" data-wow-delay="0.4s">
                <div class="card wow rollIn">
                    <div class="service-img">
                        <a href="https://tassiecake.com">
                            <img src="/img/services-icon/service-icon2.png" alt="Chris Yao"
                                 class="card-img-top img-fluid">
                            <div class="img-overlay-holder">
                                <img src="/img/service-over/work-1.jpg" alt="Tassie Cake"
                                     class="img-fluid img-overlay">
                            </div>
                        </a>
                    </div>
                    <div class="card-block">
                        <h4 class="service-des text-center"><a href="https://genos.one-punch.us">Web Design</a></h4>
                        <div class="service-divider"></div>
                        <p class="service-extra text-center">5 Years Full Stack Development</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-3 wow fadeInLeft" data-wow-duration=".6s" data-wow-delay="0.4s">
                <div class="card wow rollIn">
                    <div class="service-img">
                        <a href="https://tassiecake.com">
                            <img src="/img/services-icon/service-icons.png" alt="Chris Yao"
                                 class="card-img-top img-fluid">
                            <div class="img-overlay-holder">
                                <img src="/img/service-over/work-2.jpg" alt="Tassie Cake"
                                     class="img-fluid img-overlay">
                            </div>
                        </a>
                    </div>
                    <div class="card-block">
                        <h4 class="service-des text-center"><a href="https://genos.one-punch.us">Database Design</a></h4>
                        <div class="service-divider"></div>
                        <p class="service-extra text-center">Hands-on Project Experience</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 wow fadeInRight" data-wow-duration=".6s" data-wow-delay="0.2s">
                <div class="card wow rollIn">
                    <div class="service-img">
                        <a href="https://tassiecake.com">
                            <img src="/img/services-icon/service-icon5.png" alt="Chris Yao"
                                 class="card-img-top img-fluid">
                            <div class="img-overlay-holder">
                                <img src="/img/service-over/work-3.jpg" alt="Tassie Cake"
                                     class="img-fluid img-overlay">
                            </div>
                        </a>
                    </div>
                    <div class="card-block">
                        <h4 class="service-des text-center"><a href="https://sunshireshuttle.com">iOS Development</a>
                        </h4>
                        <div class="service-divider"></div>
                        <p class="service-extra text-center">Hands-on Project Experience</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-3 wow fadeInRight" data-wow-duration=".6s" data-wow-delay="0.4s">
                <div class="card wow rollIn">
                    <div class="service-img">
                        <a href="https://tassiecake.com">
                            <img src="/img/services-icon/services-icon4.png" alt="Chris Yao"
                                 class="card-img-top img-fluid">
                            <div class="img-overlay-holder">
                                <img src="/img/service-over/work-4.jpg" alt="Chris Yao"
                                     class="img-fluid img-overlay">
                            </div>
                        </a>
                    </div>
                    <div class="card-block">
                        <h4 class="service-des text-center"><a href="https://tassiecake.com">System Design</a>
                        </h4>
                        <div class="service-divider"></div>
                        <p class="service-extra text-center">Hands-on Project Experience</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>